@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFFFDD; color:#000000; min-width:650px}

html {
   min-height: 100%;
   -webkit-text-size-adjust: none;
  
 }

* { 
margin:0; padding:0; 
/*transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-webkit-transition:all 0.2s ease-out;*/
} 

.animation, nav.navigation ul li ul, nav.navigation ul a, .button, .accordionblock a, .buttons a, .container1 .popupWin, span.tooltip, .criteriacol ul li{
transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-webkit-transition:all 0.2s ease-out;
}

@font-face {
    font-family: 'cabinbold';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinmedium';
    src: url('../fonts/cabin-medium-webfont.eot');
    src: url('../fonts/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-medium-webfont.woff') format('woff'),
         url('../fonts/cabin-medium-webfont.ttf') format('truetype'),
         url('../fonts/cabin-medium-webfont.svg#cabinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a:active{outline: none;}
a:focus{-moz-outline-style: none;outline: none;}
a{text-decoration:none; color:#2751ba; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:hover{text-decoration:underline}

.left{float:left}
.right{float:right}
.clear{clear:both; height:0}
.clearfix:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}

img{border:none}

input{font:12px Arial, Helvetica, sans-serif; padding:0; margin:0; outline:none;  -webkit-tap-highlight-color:rgba(0,0,0,0);}
input:active{outline:none}
select{font:12px Arial, Helvetica, sans-serif; padding:0; margin:0; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{font:12px Arial, Helvetica, sans-serif; padding:0; margin:0; outline:none; overflow:auto; -webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea:active{outline:none}

.wrapper{width:853px; margin:0 auto}

.main{overflow:hidden; padding-bottom:5px}

header{height:70px; padding:15px 20px;}
header:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
header .logo{float:left; padding:11px 0 0 0}
header .logo a{color:#555555; font-size:37px; font-weight:normal; text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8)}
header .logo a:hover{text-decoration:none}
header .logo a i{font-style:italic}
header .rightHeader{float:right}
header .myaccount{height:40px; position:relative; margin-top:13px}
header .myaccount .user:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
header .myaccount .user a{display:block; padding:5px 7px 5px 5px; border:1px solid #d9d9ae; height:30px; background:#e9e9bf; font:14px cabinmedium;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.9);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.9);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.9);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.9);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.9);
}

header .myaccount .user a.active{ text-shadow:1px 1px 0 rgba(255, 255, 255, 1);
box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
header .myaccount .user img{float:left; width:30px; height:30px; border:1px solid #c2c294}
header .myaccount .user span{display:block; float:left; line-height:30px; color:#000; background:url(../newimages/arrow.png) no-repeat center right; padding:0 13px 0 5px} 

header .myaccount .submenu{position:absolute; top:46px; left:0; width:100%; background:#e9e9bf; display:none; z-index:20}
header .myaccount .submenu ul{list-style:none;}
header .myaccount .submenu ul li{border-bottom:1px solid #c6c692; border-top:1px solid #ffffdd}
header .myaccount .submenu ul li a{display:block; padding:7px 10px; color:#000; font:13px cabinmedium;}

.navigation{background:#009DE0; height:35px; border-top:1px solid #0076a8; border-bottom:1px solid #0076a8; padding:0 20px; position:relative; z-index:10;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.navigation ul{list-style:none}
.navigation ul li{float:left; border-left:1px solid #0076a8; border-right:1px solid #0076a8; margin-right:-1px}
.navigation ul li a{display:block; height:35px; color:#FFF; font:normal 14px/35px cabinbold; text-transform:uppercase; padding:0 20px; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2)}
.navigation ul li a:hover{background:#0089c4; text-decoration:none;
box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.3);
-ms-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.3);
-o-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.3);
}
.navigation ul li a.home{background:url(../newimages/homeico.png) no-repeat center; width:15px}
.navigation ul li a.home:hover{background:#0089c4 url(../images/homeico.png) no-repeat center;}


.container{margin:0; padding:0}
.container:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.container table{width:100%; border-collapse:collapse}
.container table td{vertical-align:top}
.container .leftside{width:250px;}

.container .rightside{}
.container .rightside .whitebox{background:#ffffff; margin:-5px -5px 0 0;
box-shadow:-5px 5px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow:-5px 5px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.2);
-ms-box-shadow:-5px 5px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.2);
-o-box-shadow:-5px 5px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.2);
-webkit-box-shadow:-5px 5px 0 rgba(0, 0, 0, 0.1), inset 1px -1px 0 rgba(0, 0, 0, 0.2);
position:relative;
}

.searchfield{padding:15px 20px; border-bottom:1px solid #d2d2a6}
.searchfield .searchbox{background:url(../newimages/searchico.png) no-repeat 8px center; padding:8px 7px 8px 28px; border:1px solid #d2d2a6; width:79%; color:#000; font-size:11px; font-style:italic;
box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-ms-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-o-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.searchfield .searchbtn{position:absolute; visibility:hidden}

.accordion-content {display: none;}
.accordionblock{}
.accordionblock .accordion-header{padding:10px 20px; border-bottom:1px solid #d2d2a6; cursor:pointer; font:normal 14px/14px cabinregular; text-shadow:1px 1px 0 #FFF;
background: #ffffdd;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffdd 0%, #eeeec9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffdd), color-stop(100%,#eeeec9));
background: -webkit-linear-gradient(top,  #ffffdd 0%,#eeeec9 100%);
background: -o-linear-gradient(top,  #ffffdd 0%,#eeeec9 100%);
background: -ms-linear-gradient(top,  #ffffdd 0%,#eeeec9 100%);
background: linear-gradient(to bottom,  #ffffdd 0%,#eeeec9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffdd', endColorstr='#eeeec9',GradientType=0 )
}
.accordionblock .accordion-header.active-header{background:#009DE0; color:#FFF; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);}
.accordionblock .accordion-content{background:rgba(255, 255, 255, 0.4); padding:0}
.accordionblock .accordion-content .submenu1{padding:0 0 0 0; list-style:none}
.accordionblock .accordion-content .submenu1 li{border-bottom:1px solid #b5b58c}
.accordionblock .accordion-content .submenu1 li a{color:#42422f; font-size:12px; display:block; padding:7px 20px;}
.accordionblock .accordion-content .submenu1 li a:hover{background:#FFF; text-decoration:none}

.rightside .space{padding:20px 20px 15px 15px}

hgroup{padding-bottom:15px}
hgroup:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
hgroup h1{font:normal 26px/32px cabinbold; color:#009DE0; float:left}
hgroup h1 a{color:#009DE0}
hgroup .buttons{float:right}

.buttons{}
.buttons:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.buttons a{display:block; float:left; padding:7px 10px; background:#fafafa; color:#606060; margin:0; border:1px solid #BBB; margin-right:-1px; font:13px cabinregular;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
}
.buttons a:hover{text-decoration:none;
box-shadow:0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.buttons a:first-child{border-radius:3px 0 0 3px}
.buttons a:last-child{border-radius:0 3px 3px 0}


.popup_background {z-index: 2000;}
.popup_wrapper {z-index: 2001;}
 /* Add inline-block support for IE7 */
.popup_align,
.popup_content {
	*display: inline;
	*zoom: 1;
}

.popup_content{background:#FFF; padding:0; margin:20px; max-width:900px; border:5px solid rgba(0, 0, 0, 0.5); min-width:700px}
.popup_content .my_modal_close{position:absolute; top:7px; right:7px; color:#E00; display:block; border:1px solid #CCC; padding:2px 6px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
}
.popup_content .my_modal_close:hover{text-decoration:none;}
.popup_content .my_modal_close:active{
box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.popup_content .headerpopup{background:#f1f1f1; padding:10px 10px; margin-bottom:10px; border-bottom:1px solid #CCC}
.popup_content .headerpopup h4{font:normal 15px/15px cabinmedium}

.popup_content .footerpopup{padding:5px 10px; margin-top:10px; border-top:1px solid #CCC; box-shadow:inset 0 1px 0 rgba(255, 255, 255, 8)}
.popup_content .popupblock{padding:15px}

.formfield{padding:0 10px; width:215px}
.formfield fieldset{border:none}
.formfield fieldset:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.formfield fieldset .block:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.formfield fieldset .block{padding-bottom:10px}
.formfield fieldset .block label{display:block; color:#444; padding-bottom:5px}
.formfield fieldset .checkbox_block span{display:block; color:#444; padding-bottom:10px}
.formfield fieldset .checkbox_block input{float:left; margin-right:3px}
.formfield fieldset .checkbox_block label{float:left; padding-right:10px; padding-bottom:0}

.textfield{background:url(../newimages/searchico.png) no-repeat 8px center; padding:8px 7px 8px 28px; border:1px solid #BBBBBB; width:79%; color:#000; font-size:11px; font-style:italic;
box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-ms-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-o-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:1px 1px 0 rgba(255, 255, 255, 1), inset 0 1px 3px rgba(0, 0, 0, 0.2);}

.criteriacol{margin:0 0 15px 0; padding:5px; padding-bottom:0; background:#f1f1f1; border:1px solid #CCC;
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.criteriacol ul{list-style:none}
.criteriacol ul:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.criteriacol ul li{float:left; padding:5px 25px 5px 7px; background:#fafafa; color:#606060; border:1px solid #BBB; margin:0 5px 5px 0; font:12px cabinregular; min-width:120px; cursor:pointer; position:relative;
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
}
.criteriacol ul li a.close{position:absolute; top:6px; right:7px; color:#E00; border:1px solid #FCC; display:block; height:12px; width:12px; text-align:center; line-height:12px; font-weight:bold; font-size:10px}
.criteriacol ul li a.close:hover{text-decoration:none}

.criteriacol ul li.active-header1{background:#009DE0; border-color:#009DE0; color:#FFF;
box-shadow:0 1px 0px rgba(255, 255, 255, 9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:0 1px 0px rgba(255, 255, 255, 9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-o-box-shadow:0 1px 0px rgba(255, 255, 255, 9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 0px rgba(255, 255, 255, 9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.criteriacol ul li.active-header1 a.close{color:#FFF}

.criteriacol ul li.active{}

.criteriacol ul li span.tooltip{position:absolute; top:-32px; left:0; margin-top:-8px; background:#009DE0; visibility:hidden; padding:5px 10px; display:block; color:#FFF; border:1px solid #009DE0;
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.criteriacol ul li span.tooltip:after{width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #009DE0; display:block; content:""; position:absolute; bottom:-7px; left:50%; margin-left:-11px;}
.criteriacol ul li:hover span.tooltip{margin-top:0; visibility:visible;}


.criteriacol ul .opendiv{display:none; padding:5px; margin:0 0 5px 0; border:1px solid #CCC; position:absolute; top:0; left:0; background:#f5f5f5; opacity:0.91; width:230px; padding:17px 0 15px 0; z-index:9;
box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);
-o-box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:2px 0 2px rgba(0, 0, 0, 0.1);
}
.criteriacol ul .opendiv h4{font:normal 14px/20px cabinmedium; padding-bottom:15px; padding-top:10px}
.criteriacol ul .opendiv .close{position:absolute; top:10px; right:7px; color:#E00; border:1px solid #FCC; display:block; cursor:pointer; height:16px; width:16px; text-align:center; line-height:16px; font-weight:bold; font-size:10px}

.arrowleft{position:absolute; top:50%; left:-16px; margin-top:-35px; opacity:0.4}
.arrowleft span{display:block; background:url(../newimages/arrow1.png) no-repeat; height:70px; width:16px; cursor:pointer}
.arrowleft.closeLeft{left:0}
.arrowleft.closeLeft span{background-position:-16px 0} 


.button, .exclusive{border:none; border:1px solid #CCC; padding:5px 15px; background:#FFF;  font:14px cabinmedium; color:#606060; cursor:pointer; display:inline-block; margin-right:5px;
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
}
.button:hover, .exclusive:hover{border-color:#BBB; color:#009de0;
box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
-ms-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
-o-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
}
.button:active, .exclusive:active{
box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.exclusive{background:#e67e41; color:#FFF; border-color:#dc763b;}
.exclusive:hover{color:#FFF; border-color:#dc763b;}

.customizeblocks{margin:0}
.customizeblocks ul{list-style:none}
.customizeblocks ul:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.customizeblocks ul li{float:left; width:33%; position:relative}
.customizeblocks ul li .block{background:#DDD; margin:3%; position:relative; height:130px; border:1px solid #BBB; display:table; width:94%; cursor:pointer}
.customizeblocks ul li .block:hover{background:#e6e6e6;
	box-shadow:0 0 5px rgba(255,204,51,1), inset 1px 1px 0 rgba(255, 255, 255, 0.8);
}
.customizeblocks ul li .block:active{box-shadow:0 0 0 rgba(255,204,51,1), inset 0 0 10px rgba(0, 0, 0, 0.1);}
.customizeblocks ul li .block p{display:table-cell; vertical-align:middle; text-align:center; border-left:1px solid #BBB}
.customizeblocks ul li .block p:first-child{border:none;}


.container{margin:0; padding:0}
.container .table_container{border-collapse:collapse; width:100%}
.container .table_container tr td{border:1px dashed #963}

.headingblock{height:36px}

.container1{position:relative; margin-right:1px}
.container1 .popupWin{position:absolute; top:0; left:0; width:50%; height:100%; margin-top:0; border:1px solid #DDD; background:#FFF; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1)}
.container1 .popupWin.maxWidth{width:100%;}
.container1 .popupHead{background:#f1f1f1; height:30px; border-bottom:1px solid #DDD;}
.container1 .popupHead h4{padding-left:15px; float:left; font:normal 15px/30px cabinmedium}
.container1 .popupHead .rightHeader1{float:right}
.container1 .popupHead .rightHeader1 p.icons{padding:4px 5px 0 0; opacity:0.5}
.container1 .popupHead .rightHeader1 p span{display:block; width:21px; height:21px; background:#333333; cursor:pointer; margin:0 0 0 3px; float:left; text-align:center; color:#FFF; line-height:21px; font-weight:bold;
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
}
.container1 .popupHead .rightHeader1 p span.min-max{background:#333333 url(../newimages/min-max-ico.png) no-repeat -23px 0px}
.container1 .popupHead .rightHeader1 p span.maxsize{background-position:0 0}

.bordersBg{}
.bordersBg .border{border:1px dashed #CCC; position:absolute; width:50%; height:50%;}
.bordersBg .border.border1{left:0; top:0}
.bordersBg .border.border2{right:0; top:0; border-left:none}
.bordersBg .border.border3{left:0; bottom:0; border-top:none}
.bordersBg .border.border4{right:0; bottom:0; border-top:none; border-left:none}
.bordersBg .border.border5{height:100%; left:0; top:0}

.breadcrumb{font-size:11px; padding-bottom:5px; border-bottom:1px solid #CCC; margin-bottom:10px}

.right_1{padding:0; text-align:right}
.right_1 a{float:right}

.search-form{padding:10px 0 0 0}
.search-form .wide form{padding:10px; padding-bottom:5px; border:1px solid #CCC}
.search-form .wide form:after{clear:both; content:"."; height:0; display:block; width:100%; overflow:hidden}
.search-form .wide form .row{float:left; width:50%; margin-bottom:5px}
.search-form .wide form label{float:left; width:20%}
.search-form .wide form select{padding:1%; width:40%; border:1px solid #CCC}


.loginblock{background:#009de0; height:50%; position:absolute; top:0; left:0; width:100%; z-index:9}
.loginfield{height:200px; position:fixed; top:50%; left:50%; z-index:10; width:550px; height:500px; margin:-275px 0 0 -275px}

.loginfield h1{color:#FFF; text-align:center; font-size:60px; font-weight:normal;}
.loginfield h3{text-align:center; padding-top:5px; color:#FFF; text-align:center; font:normal 14px cabinmedium; padding:0; text-transform:uppercase}
.loginfield .loginbox{background:rgba(255, 255, 255, 0.1); margin:25px 0 0 0; padding:5px; border:1px solid rgba(255, 255, 255, 0.1);
border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-ms-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.loginfield .loginbox .block{background:#f1f1f1; padding:10px; 
border-radius:3px;
-moz-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
}
.loginfield .loginbox h2{ font:normal 20px cabinbold; padding:0; text-transform:uppercase; border-bottom:1px solid #CCC; padding:0 0 7px 0}
.loginfield .loginbox form{}
.loginfield .loginbox form fieldset{padding:20px; border:none}
.loginfield .loginbox form fieldset .textfield1{
	padding:15px 10px; border:1px solid #CCC; width:450px; background:url(../images/login.png) no-repeat 435px center; background-size:auto 60%;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.9), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginfield .loginbox form fieldset .textfield1:focus{border-color:#AAA}
.loginfield .loginbox form fieldset .password{background:url(../images/key.png) no-repeat 438px center; background-size:auto 50%;}
.loginfield .loginbox form fieldset p{padding-bottom:20px;}
.loginfield .loginbox form fieldset p:after{overflow:hidden; content:"."; height:0; width:100%; display:block; clear:both}
.loginfield .loginbox form fieldset p.check input{float:left; border-color:#CCC; padding:3px}
.loginfield .loginbox form fieldset p.check label{display:block; padding:0 0 0 5px; float:left; color:#777}
.loginfield .loginbox form fieldset p.check span{padding:0 5px}
.loginfield .loginbox form fieldset p.check a{color:#009de0; text-decoration:underline}
.loginfield .loginbox form fieldset p.button_block{padding-bottom:0}
.loginfield .loginbox form fieldset p.button_block .button{padding:10px 20px; font-size:20px}
.loginfield .loginbox form fieldset p.error input{border-color:#D00; background-color:#FFE1E1; color:#D00}
.loginfield .loginbox form fieldset p.error input:focus{border-color:#D00;}










